<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @friends2.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.email %></td>
				<td><%=link_to("Send Message",user_message_path(friend.id), method: "get")%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

