<div class="well well-lg ">

<table class="table table-striped">
 <caption><h2 class="text-primary">Friends</h2></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>

    <% @friends2.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.email %></td>
		<td><%=link_to("Send Message",user_message_path("message",friend.id), method: "get")%></td>
		<td><%=link_to("Delete Friend",destroy_friend_path(current_user.id,friend.id), method: "delete")%></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

